page-home {

          .content{
                    background-color: deepskyblue;
          }

          #input{
                    background-color: transparent;
                    
                    ion-label{
                              color: #000;
                    }
          }
          
}
